body:not(.workspace-ready){
    /* display: none !important; */
}

/* body.workspace-ready > *{
    animation: blur-out 1s ease-out;
} */

.loading-container:not(.show){
    display: none;
    animation: blur-out 1s ease-out forwards;
}

.loading-container{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: black;
}

.loading-logo{
    height: 50vh;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-bar{
    height: 5vh;
    width: 75vw;
    border: solid white 2px;
    position: relative;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-bar-fill{
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--purple);
    transition: width 300 ease-out;
}

@keyframes blur-out {
    from{filter: blur(50px);}
    to{filter: blur(0);}
}

@keyframes fill-bar {
    from{width: 0;}
    to{width: 100%;}
}